@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(20, 20, 20);
  --background-color: rgb(250, 250, 250);
  --mira-green: rgb(30, 199, 80);
  --mira-dark-green: rgb(18, 119, 0);
  --mira-darker-green: rgb(1, 49, 38);
  --mira-orange: rgb(255, 192, 0);
  --default-desktop-screen-width: 1440px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
  background: var(--background-color);
}

section {
  max-width: var(--default-desktop-screen-width);
  margin: 0 auto;
  padding: 20px 32px 28px
}

.card-mira-title {
  color: var(--mira-darker-green);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
